# Kafka
bootstrap.servers=pkc-4yyd6.us-east1.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule   required username='4L26IACJT5EMOYVT'   password='xYv/OivfjcBA/eeo9RpM+D45MyP+jxMFtOOz8S6kS1p0ZUrBBinqZMJcqXKQVlre';
sasl.mechanism=PLAIN